{% load static %}
{% load site_settings %}
{% get_general_settings as general_settings %}
<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="{% static 'user/vendor/spinkit.css' %}"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="{% static 'user/vendor/perfect-scrollbar.css' %}"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="{% static 'user/css/material-icons.css' %}"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="{% static 'user/css/fontawesome.css' %}"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="{% static 'user/css/preloader.css' %}"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="{% static 'user/css/app.css' %}"
              rel="stylesheet">

        <!-- Dark Mode CSS -->
        <link type="text/css"
              href="{% static 'user/css/dark.css' %}"
              rel="stylesheet">

    </head>

    <body class="layout-app ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>
    <div class="mdk-header-layout__content page-content ">

                <div class="mdk-box mdk-box--bg-white-35 bg-white js-mdk-box mb-0"
                     data-effects="parallax-background blend-background">
                {% block header %}{% endblock %}
                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </div>

    </div>
    {% block drawer %}{% endblock %}
    <!-- jQuery -->
    <script src="{% static 'user/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'user/vendor/popper.min.js' %}"></script>
    <script src="{% static 'user/vendor/bootstrap.min.js' %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static 'user/vendor/perfect-scrollbar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'user/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'user/vendor/material-design-kit.js' %}"></script>

    <!-- App JS -->
    <script src="{% static 'user/js/app.js' %}"></script>

    <!-- Preloader -->
    <script src="{% static 'user/js/preloader.js' %}"></script>
    <script src="{% static 'base/js/toastr.min.js' %}"></script>
    {% block js_files %}{% endblock %}
    {% if messages %}
        <script>
            {% for message in messages %}
                toastr.options.progressBar = true;
                toastr.{{ message.tags }}('{{ message }}');
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>